body{
    font-family: sans-serif;
    background-color: black;
}

.wrapper{
    background-color: black;
    margin-top: auto;
    width: 80%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-top: 17%;
}

.header{
    display: flex;
    width: 100%;
    height: auto;
}

.footer{
    display: flex;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to top, white 0%, black 95%);
    padding-top:250px;
    padding-bottom: 20px;
}

h1{
    padding-top: 55%;
    color:white;
    font-size: 1000%;
}

.right{
    width: 33%;
    height: 100%;
    text-align: center;
}


.middle{
    width: 34%;
    align-items: center;
    text-align: center;
    display:block
}

.left{
    width: 33%;
}

.nav{
    font-size: 400%;
    height: 300px;
    text-align: right;
    padding-right: 2%;
    color: black;
    background-image: linear-gradient(to right, black 0%, white 80%);
}

.NavTags{
    position:relative;
    font-size: 150%;
    top: 32%;
}

.responsive {
    width: 100%;
    height: auto;
}


.LeftFooter{
    width: 33%;
    font-size: 400%;
    padding-left: 50px;
}
.MiddleFooter{
    width: 34%;
    align-items: center;
    text-align: center;
    display:block;
}
.MiddleFooterResponsive{
    width: 10%;
    height: auto;
}
.RightFooter{
    width: 33%;
    font-size: 400%;
    text-align: right;
    padding-right: 50px;
}