body {
    font-family: sans-serif;
    background-color: black;
}

p {
    color: white !important;
    font-size: 2vh;
}

.wrapper {
    background-color: black;
    position: relative;
    width: 80%;
    margin-left: 10%;
    border-left: 0.1vh solid white;
    border-right: 0.1vh solid white;
}

.responsive {
    width: 50%;
    height: auto;
}

.body {
    height: auto;
}

video {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#VideoBody {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#VideoText {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#LeftIndexImgDiv {
    width: 30%;
    float: left;
}

#RightIndexTextDiv {
    width: 70%;
    float: right;
}

#LeftIndexTextDiv {
    width: 70%;
    float: left;
}

#RightIndexImgDiv {
    width: 30%;
    float: right;
}



