html{
		background-color: black;
}

body{
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../assets/images/headerimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title{
	position: absolute;

    top: 60px;

    left: 50%;

    -moz-transform: translateX(-50%) translateY(-50%);

    -webkit-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);
	
	color: white;
}
a{
	color:black;
}
}
h2{
	margin-bottom: 5px !important;
	margin-top: 5px!important;
}
h3{
	margin-top: 0px;
}

h1, h2, h3{
	color: red;	
}
#footer1, #footer2 {
	padding:10px;
	padding-left:20px;
	padding-right:20px;
    float: left;
    width: 50%;	
    box-sizing: border-box;
	background-color: white;
	border-style: solid;	
	border-bottom-style: none;	
	border-color: red;
}
#footer1{
	border-right-style: none;	
}
#footer2{
	text-align: right;
	border-left-style: none;	
}
p{
	color: black;
}
