body {
    font-family: sans-serif;
    background-color: black;
}

p {
    color: white !important;
    font-size: 2vh;
}

.wrapper {
    background-color: black;
    position: relative;
    width: 100%;
}

.responsive {
    width: 50%;
    height: auto;
}

.body {
    height: auto;
}

.GreenFont{
    color: greenyellow;
}