body{
    font-family: sans-serif;
    background-color: black;
}

.wrapper{
    margin-top: 49vh;
    height:100vh;
    background-color: black;
    width: 80%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 0.1vh solid white;
    border-right: 0.1vh solid white;
}
.responsive {
    width: 50%;
    height: auto;
}