html{
		background-color: black;
}

body{
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../assets/images/headerimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title{
	position: absolute;

    top: 60px;

    left: 50%;

    -moz-transform: translateX(-50%) translateY(-50%);

    -webkit-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);
	
	color: white;
}
a{
	color:white;
}
h2{
	margin-bottom: 5px !important;
	margin-top: 5px!important;
}
h3{
	margin-top: 0px;
}

h1, h2, h3{
	color: red;	
}