.header{
    display: flex;
    width: 100%;
    height: auto;
}
h1{
    position: relative;
    top: 33%;
    text-align: center;
    color:white;
    font-size: 5vh;
}
.right{
    width: 33%;
    text-align: center;
}
.middle{
    width: 34%;
    align-items: center;
    text-align: center;
    display:block
}
.left{
    width: 33%;
}
.nav{
    font-size: 2vh;
    height: 100%;
    text-align: right;
    padding-right: 2%;
    background-image: linear-gradient(to right, black 0%, white 90%);
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.NavTags{
    position:relative;
    font-size: 2vh;
    top: 32%;
}
.nav, a{
    color: black;
    text-decoration: none;
}
.Activ{
    position:relative;
    font-size: 2vh;
    top: 32%;
    text-decoration: underline;
    font-weight: bold;
}