#FullIndex {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.IndexImg {
    width: auto;
    Height: 30vh;
}

#LeftIndexImgDiv {
    margin-right:1vh;
    border: 0.1vh solid white;
    width: auto;
    height: 100%;
    flex: 1;
}

#RightIndexTextDiv {
    border: 0.1vh solid white;
    width: auto;
    height: auto;
}

#LeftIndexTextDiv {
    border: 0.1vh solid white;
    width: auto;
    height: auto;
    flex: 1;
}

#RightIndexImgDiv {
    margin-left:1vh;
    border: 0.1vh solid white;
    width: auto;
    height: 100%;
}

#TopIndex {
    display:flex;
    height: 100%;
}

#BottomIndex {
    display: flex;
    margin-top: 1vh;
    height: 100%;

}

.IndexImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.IndexText {
    margin-top: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

h2 {
    margin-bottom: 0%;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 3vh;
    color: white;
}